html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
router-link {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  color: rgb(25, 25, 25);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat_Light";
  src: url("/assets/fonts/MontserratAlternates-Light.ttf");
}
@font-face {
  font-family: "Montserrat_Medium";
  src: url("/assets/fonts/MontserratAlternates-Medium.ttf");
}
@font-face {
  font-family: "Montserrat_SemiBold";
  src: url("/assets/fonts/MontserratAlternates-SemiBold.ttf");
}
.text_white {
  color: rgb(222, 216, 215) !important;
}
/* h1,
h2 {
  font-family: Oswald;
}
p,
div,
button,
span,
a,
li,
ol,
ul,
label,
router-link {
  font-family: HeroRegular;
}*/
a,
router-link {
  text-decoration: none !important;
}
input {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button {
  background: none; /* Удаляет фоновый цвет */
  border: none; /* Удаляет рамку */
  padding: 0; /* Удаляет внутренние отступы */
  margin: 0; /* Удаляет внешние отступы */
  font: inherit; /* Наследует шрифт родительского элемента */
  color: inherit; /* Наследует цвет родительского элемента */
  cursor: pointer; /* Устанавливает курсор в виде указателя */
  /* Дополнительно, можно добавить: */
  appearance: none; /* Удаляет стили, специфичные для платформы */
  -webkit-appearance: none; /* Для браузеров WebKit */
}
/* Для браузеров на основе WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 0; /* Убираем скроллбар для Chrome, Safari и Opera */
}

::-moz-scrollbar {
  width: 0; /* Убираем скроллбар для Firefox */
}

* {
  scrollbar-width: none; /* Убираем скроллбар для Firefox */
  -ms-overflow-style: none; /* Убираем скроллбар для IE и Edge */
}
