/* styles.css */

:root {
  --bg-color: #f5f5f5;
  --text-color: #333;
  --btn-bg-color: #007bff;
  --btn-hover-bg-color: #0056b3;
}
.logo-image {
  width: 50px;
  height: auto;
}

body.light-theme {
  --bg-color: #f5f5f5;
  --text-color: #333;
  --btn-bg-color: #007bff;
  --btn-hover-bg-color: #0056b3;
}

body.dark-theme {
  --bg-color: #5b5555;
  --text-color: #f5f5f5;
  --btn-bg-color: #007bff;
  --btn-hover-bg-color: #0056b3;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2180;
  margin: 0;
  background-color: var(--bg-color);
  transition: 0.3s ease; /* Плавный переход при смене темы */
  flex-direction: column;
  gap: 50px;
  padding-top: 100px;
}

.form-group {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin: 0 1%;
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 20px;
  height: 250px;
  background-color: transparent; /* Прозрачный фон для совместимости с темой */
  color: var(--text-color); /* Цвет текста зависит от выбранной темы */
  border: 1px solid var(--text-color); /* Граница также меняется в зависимости от темы */
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

.button_v1 {
  padding: 12px 40px;
  cursor: pointer;
  background-color: #f5f5f5;
  color: var(--text-color);
  border: none;
  border: solid 1px #2a2828;
  border-radius: 30px;
  color: #1a1919;
  font-size: 16px;
  transition: 0.3s ease; /* Плавное изменение цвета кнопки */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
}

.button_v1:hover {
  background-color: #ded8d7;
  border: solid 1px #ded8d7;
}

.highlighted-id {
  color: red; /* Подсветка ID */
  font-weight: bold;
}
/* styles.css */

#themeSwitcher {
  position: absolute; /* Позиционируем кнопку абсолютно */
  top: 15px; /* Верхнее положение */
  left: 15px; /* Левое положение */
  padding: 5px 10px; /* Уменьшаем подушечки */
  font-size: 12px; /* Меньший шрифт */
}
/* styles.css */

body.dark-theme {
  --bg-color: rgb(42, 42, 42);
  --text-color: #f5f5f5; /* Белый текст для тёмной темы */
  --btn-bg-color: #007bff;
  --btn-hover-bg-color: #0056b3;
}
.container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  text-align: center;
  padding: 100px 50px;
}
.section_header {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 80%;
  height: 70px;
  position: fixed;
  top: 0px;
  margin: 0 auto;
  background-color: rgb(26, 25, 25);;
  padding: 5px 25px 10px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
}
.title_label {
  font-family: Montserrat_SemiBold;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}
.box_nav_button {
  display: flex;
  gap: 50px;
}
.button_nav {
  font-family: Montserrat_SemiBold;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}
.moon_sun {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.switch {
  display: inline-block;
  position: relative;
}

.switch__input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.switch__label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #2b2b2b;
  border: 3px solid #5b5b5b;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.switch__indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-36%);
  display: block;
  width: 20px;
  height: 20px;
  background-color: #7b7b7b;
  border-radius: 9999px;
  box-shadow: 5px 0px 0 0 rgba(0, 0, 0, 0.2) inset;

  &::before,
  &::after {
    position: absolute;
    content: "";
    display: block;
    background-color: white;
    border-radius: 9999px;
  }

  &::before {
    top: 3.5px;
    left: 3.5px;
    width: 4.5px;
    height: 4.5px;
    background-color: white;
    opacity: 0.6;
  }

  &::after {
    bottom: 4px;
    right: 3px;
    width: 7px;
    height: 7px;
    background-color: white;
    opacity: 0.8;
  }
}

.switch__decoration {
  position: absolute;
  top: 67.5%;
  left: 50%;
  display: block;
  width: 2.5px;
  height: 2.5px;
  background-color: white;
  border-radius: 9999px;
  animation: twinkle 0.8s infinite -0.6s;

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 2.5px;
    height: 2.5px;
    background-color: white;
    border-radius: 9999px;
  }

  &::before {
    top: -10px;
    left: 5px;
    opacity: 1;
    animation: twinkle 0.6s infinite;
  }

  &::after {
    top: -3.5px;
    left: 15px;
    animation: twinkle 0.6s infinite -0.2s;
  }
}

@keyframes twinkle {
  50% {
    opacity: 0.2;
  }
}

.switch__indicator {
  &,
  &::before,
  &::after {
    transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
}

.switch__input:checked + .switch__label {
  background-color: #8fb5f5;
  border-color: #347cf8;

  .switch__indicator {
    background-color: #ecd21f;
    box-shadow: none;
    transform: translate(-50%, -50%) translateX(36%);

    &::before,
    &::after {
      display: none;
    }
  }

  .switch__decoration {
    top: 50%;
    transform: translate(0%, -50%);
    animation: cloud 8s linear infinite;

    width: 10px;
    height: 10px;

    &::before {
      width: 5px;
      height: 5px;
      top: auto;
      bottom: 0;
      left: -4px;
      animation: none;
    }

    &::after {
      width: 7.5px;
      height: 7.5px;
      top: auto;
      bottom: 0;
      left: 8px;
      animation: none;
    }

    &,
    &::before,
    &::after {
      border-radius: 9999px 9999px 0 0;
    }

    &::after {
      border-bottom-right-radius: 9999px;
    }
  }
}

@keyframes cloud {
  0% {
    transform: translate(0%, -50%);
  }
  50% {
    transform: translate(-25%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}
.record-separator {
  margin: 20px 0 10px 0;
  padding: 5px;
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: center;
}

.record-content {
  white-space: pre;
  font-family: monospace;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}
